@use "variables";

.contCertificaciones{
    @include variables.estiloBanners;
    @include variables.bannersResponsive;
    .containerTextos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.3em;
        .texto2{
            color: variables.$terciario;
            font-size: 1.8em;
        }
        .texto3{
            color: variables.$primario60;
            font-size: 1.3em;
            font-weight: 400;
            text-align: center;
            width: 80%;
            padding: 0.8em;
        }
        .texto4{
            color: variables.$secundario80;
            font-size: 1em;
        }
    }
    .tituloSeccion{
        color: variables.$terciario;
        font-size: 1.8em;
        text-align: center;
        padding: 1em;
    }
    .cardCertificaciones{
            width: 80%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            flex: 1 1;
            justify-content: center;
            @media (max-width: 1250px) {
                width: 70%;
                margin: auto;
            }
            @media (max-width: 850px) {
                width: 90%;
                margin: auto;
            }
            @media (max-width: 464px) {
                width: 100%;
                margin: auto;
            }
            .containerCard{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 210px;
                @media (max-width:464px){
                    width: 10em;
                }
                .containerImg{
                    padding: 1em;
                    width: 150px;
                    img{
                        // margin: 1em;
                        width: 100%;
                    }
                }
                p{
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    text-align: center;
                    // font-weight: 700;
                    font-size: 1em;
                    color: variables.$secundario;
                }
            }
    }
    .containerBotones{
        div{
            background-color: variables.$primario40;
        }
    }
}























