@use 'variables';





.layoutS-C-Servicios{
    background-color: variables.$primario80;
    @media(min-width:320px) and (max-width:600px) {
            height: 6em;
    }
    @media(min-width:601px) and (max-width:1000px) {
        height: 6em;
}
    .botonS-C-Servicios{
        background-color: variables.$terciario;
    }
}











