@use "variables";


.seccionCertificaciones{
    margin: 1em 0;
    text-align: center;
    h2{
        font-size: 2.2em;
        padding: .5em;
    }
    p{
        font-size: 1.7em;
        padding: .5em 0;
        color: variables.$primario;
    }
    .cardCertificaciones{
        display: flex;
        flex-wrap: wrap;
        flex: 1 1;
        justify-content: center;
        @media (max-width: 1250px) {
            width: 70%;
            margin: auto;
        }
        @media (max-width: 850px) {
            width: 90%;
            margin: auto;
        }
        @media (max-width: 464px) {
            width: 100%;
            margin: auto;
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 13em;
            @media (max-width:464px){
                width: 10em;
            }
            &:hover{
                img{
                    transform: scale(1.1);
                    
                }
            }
            a{
                text-decoration: none;
                text-align: center;
            }
            img{
                width: 100%;
            }
            p{
                display: flex;
                justify-content: center;
                font-weight: 700;
                font-size: 1.3em;
                color: variables.$terciario;
            }
        }
    }
}
































