@use "variables";


.contenedorServiciosL{
    @include variables.estiloBanners;
    @include variables.bannersResponsive;
    .sectionCards{
        width: 80%;
        margin: auto;
        @media(min-width:1100px) and (max-width:2600px) {
            .cards{
                margin: 1em 0;
                .containerImage{
                    width: 30% !important;
                    height: 20em;
                }
            }
        }
        @media(min-width:801px) and (max-width:1099px) {
            width: 100%;
            .cards{
                justify-content: center;
                align-items: center;
                .containerImage{
                    width: 50% !important;
                    height: 20em;
                }
                .serviciosText{
                    width: 100% !important; 
                    padding: 1.5em;
                }
            }
        }
        @media(min-width:320px) and (max-width:800px) {
            width: 100%;
            .cards{
                flex-direction: column !important;
                justify-content: center;
                align-items: center;
                margin-bottom: 1.5em;
                .serviciosText{
                    width: 100% !important; 
                    .containerText2{
                        h2{
                            width: 100% !important;
                            font-size: 1.1em !important;
                        }
                        p{
                            font-size: 1.1em !important;
                        }
                        li{
                            font-size: 1.1em !important;
                        }
                    }
                }
            }
        }
        .cards{
            display: flex;
            justify-content: center;
            align-items: center;
            .containerImage{
                border-radius: 50%;
                overflow: hidden;
                width: 50%;
                .imagenMiniatura{
                    width: 100%;
                    height: auto;
                    object-position: center center;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .serviciosText{
                width: 50%;
                display: flex;
                align-items: center;
                .containerText2{
                    h2{
                        font-size: 1.4em;
                        color: variables.$terciario;
                        text-align: center;
                        width: 80%;
                        padding: 1em 0 1em 0;
                    }
                    p{
                        color: variables.$primario80;
                        font-size: 1.2em;
                        padding: 1em 1em;
                    }
                    li{
                        list-style-position: inside;
                        color: variables.$primario80;
                        font-size: 1.2em;
                        padding: 0 1em;
                    }
                }
            }
        }
        .cards:nth-child(even){
            flex-direction: row-reverse;
        }
    }
}




























