@use 'variables';

section{
    margin: 3em 0;
    .layout2{
        @include variables.estilosLayout;
        @media (max-width: 1050px) {
            padding: 0 1em;
        }
        h2{
            color: variables.$basico;
            font-size: 1.8rem;
            text-align: center;
            @media (max-width: 950px) {
                font-size: 1.2em;
            }
            @media (max-width: 450px) {
                font-size: .9em;
            }
        }
    }
    .carousel1{
        width: 80%;
        height: max-content;
        margin: 0 auto;
        margin-top: 3em;
        margin-bottom: 3em;
        .slider{
            text-align: center;
            h6{
                padding: .5em 0;
                font-size: 1.5em;
                color: variables.$primario60;
            }
            h4{
                color: variables.$terciario;
                padding: .5em 0;
            }
            p{
                text-align: justify;
                font-weight: 200;
                font-size: .9em;
            }
        }
        // .slick-arrow{
        // }
        .slick-prev{
            &::before{
                color: variables.$terciario;
            }
        }
        .slick-next{
            &::before{
                color: variables.$terciario;
                height: 50px;
            }
        }
        .cardsSwiper{
            height: 35em;
            display: flex;
            flex-wrap: wrap;
            padding: 0 1em;
            img{
                width: 100%;
                border-radius: 1em;
            }
        }
    }
}


