/* Colores Pagina */
/* FUENTE PRINCIPAL */
/* Estilos Mixin */
.responsiveNav {
  position: fixed;
  width: 100%;
  top: 0;
  margin-top: 2.7em;
  padding: 0 1.5em;
  background: transparent;
  border: none;
}
@media (min-width: 1050px) {
  .responsiveNav {
    display: none;
  }
}
.responsiveNav svg {
  float: right;
  cursor: pointer;
  font-size: 3em !important;
  color: #2c4a99;
}

.accordionMenu div {
  background-color: #20353a;
  color: #61bead;
}
.accordionMenu div p ul li {
  list-style: none;
  display: flex;
  padding: 0.5em;
}
.accordionMenu div p ul li a {
  color: #61bead;
}

.MenuDrawer {
  background: #20353a !important;
}
.MenuDrawer .section1 {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 0.5em 0 0 0;
  padding: 0 0.5em 0 0;
}
.MenuDrawer .section1 button {
  border: none;
  background-color: #20353a;
  color: #61bead;
}
.MenuDrawer .section1 button svg {
  background-color: transparent;
  font-size: 3em;
  cursor: pointer;
}
.MenuDrawer .section2 {
  padding: 16px;
  color: #61bead;
}
.MenuDrawer .section2 a {
  color: #61bead;
  margin-left: 0;
}
.MenuDrawer .section4 {
  display: flex;
  flex-direction: column;
  padding: 0 3.5em 0 0;
  position: fixed;
  bottom: 0;
}
.MenuDrawer .section4 a {
  color: #61bead;
  text-align: center;
  padding: 0.5em 0;
}

.containerPrincipalBaner1 {
  background: url(/public/images/bannerIndex1600.jpg);
  background-size: cover;
  background-position: center;
  height: 34em;
  position: static;
  margin-bottom: 0.1em;
}
.containerPrincipalBaner1 .contenidoBanner1 {
  width: 100%;
  height: 26em;
  margin-top: 6em;
  text-align: center;
  color: #ffffff;
  position: absolute;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containerPrincipalBaner1 .contenidoBanner1 .tituloBanner1 {
  margin: 0 auto;
  color: #61bead;
  font-size: 3.6em;
  font-weight: 700;
  width: 50%;
  padding: 0.3em 0;
}
@media (max-width: 950px) {
  .containerPrincipalBaner1 .contenidoBanner1 .tituloBanner1 {
    font-size: 2.6em;
  }
}
@media (max-width: 610px) {
  .containerPrincipalBaner1 .contenidoBanner1 .tituloBanner1 {
    font-size: 1.4em;
  }
}
.containerPrincipalBaner1 .contenidoBanner1 .subtituloBanner1 {
  margin: 0 auto;
  width: 50%;
  color: #ffffff;
  font-size: 3.5em;
  line-height: 0.8;
  padding: 0.4em 0;
}
@media (max-width: 950px) {
  .containerPrincipalBaner1 .contenidoBanner1 .subtituloBanner1 {
    width: 80%;
    font-size: 2.6em;
  }
}
@media (max-width: 610px) {
  .containerPrincipalBaner1 .contenidoBanner1 .subtituloBanner1 {
    font-size: 1.4em;
    width: 100%;
  }
}
.containerPrincipalBaner1 .contenidoBanner1 .parrafoBanner1 {
  margin: 0 auto;
  width: 55%;
  font-size: 1.2em;
  color: #ffffff;
  line-height: 1.4;
  padding: 1em 0;
}
@media (max-width: 950px) {
  .containerPrincipalBaner1 .contenidoBanner1 .parrafoBanner1 {
    font-size: 1em;
    width: 80%;
  }
}
@media (max-width: 610px) {
  .containerPrincipalBaner1 .contenidoBanner1 .parrafoBanner1 {
    font-size: 0.9em;
    width: 100%;
  }
}
.containerPrincipalBaner1 .contenidoBanner1 .parrafoBanner1 span {
  color: #61bead;
  font-size: 1em;
}

.layout1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background: #61bead;
  color: #ffffff;
  height: 6em;
  padding: 0.2em 0;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 980px) {
  .layout1 {
    margin: auto;
    height: 10em;
  }
  .layout1 div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    text-align: center;
    padding-bottom: 0.5em;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .layout1 {
    margin: auto;
    height: 15em;
  }
}
.layout1 h4 {
  font-weight: 400;
  font-size: 1.3em;
}
.layout1 p {
  font-size: 1em;
}
.layout1 a {
  padding: 0.4em 2.3em;
  border-radius: 0.7em;
  border: none;
  color: #ffffff;
  background: #20353a;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.2em;
}
.layout1 a:hover {
  transform: scale(1.1);
}

.seccionCertificaciones {
  margin: 1em 0;
  text-align: center;
}
.seccionCertificaciones h2 {
  font-size: 2.2em;
  padding: 0.5em;
}
.seccionCertificaciones p {
  font-size: 1.7em;
  padding: 0.5em 0;
  color: #20353a;
}
.seccionCertificaciones .cardCertificaciones {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  justify-content: center;
}
@media (max-width: 1250px) {
  .seccionCertificaciones .cardCertificaciones {
    width: 70%;
    margin: auto;
  }
}
@media (max-width: 850px) {
  .seccionCertificaciones .cardCertificaciones {
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 464px) {
  .seccionCertificaciones .cardCertificaciones {
    width: 100%;
    margin: auto;
  }
}
.seccionCertificaciones .cardCertificaciones div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13em;
}
@media (max-width: 464px) {
  .seccionCertificaciones .cardCertificaciones div {
    width: 10em;
  }
}
.seccionCertificaciones .cardCertificaciones div:hover img {
  transform: scale(1.1);
}
.seccionCertificaciones .cardCertificaciones div a {
  text-decoration: none;
  text-align: center;
}
.seccionCertificaciones .cardCertificaciones div img {
  width: 100%;
}
.seccionCertificaciones .cardCertificaciones div p {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 1.3em;
  color: #61bead;
}

.layoutS-C-Servicios {
  background-color: rgba(32, 53, 58, 0.5019607843);
}
@media (min-width: 320px) and (max-width: 600px) {
  .layoutS-C-Servicios {
    height: 6em;
  }
}
@media (min-width: 601px) and (max-width: 1000px) {
  .layoutS-C-Servicios {
    height: 6em;
  }
}
.layoutS-C-Servicios .botonS-C-Servicios {
  background-color: #61bead;
}

section {
  margin: 3em 0;
}
section .layout2 {
  width: 100%;
  height: 5em;
  background-color: #20353a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
@media (max-width: 1050px) {
  section .layout2 {
    padding: 0 1em;
  }
}
section .layout2 h2 {
  color: #ffffff;
  font-size: 1.8rem;
  text-align: center;
}
@media (max-width: 950px) {
  section .layout2 h2 {
    font-size: 1.2em;
  }
}
@media (max-width: 450px) {
  section .layout2 h2 {
    font-size: 0.9em;
  }
}
section .carousel1 {
  width: 80%;
  height: max-content;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 3em;
}
section .carousel1 .slider {
  text-align: center;
}
section .carousel1 .slider h6 {
  padding: 0.5em 0;
  font-size: 1.5em;
  color: rgba(32, 53, 58, 0.3764705882);
}
section .carousel1 .slider h4 {
  color: #61bead;
  padding: 0.5em 0;
}
section .carousel1 .slider p {
  text-align: justify;
  font-weight: 200;
  font-size: 0.9em;
}
section .carousel1 .slick-prev::before {
  color: #61bead;
}
section .carousel1 .slick-next::before {
  color: #61bead;
  height: 50px;
}
section .carousel1 .cardsSwiper {
  height: 35em;
  display: flex;
  flex-wrap: wrap;
  padding: 0 1em;
}
section .carousel1 .cardsSwiper img {
  width: 100%;
  border-radius: 1em;
}

.layoutSolicitud {
  width: 100%;
  height: 5em;
  background-color: #20353a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.layoutSolicitud a {
  color: #ffffff;
  text-decoration: none;
  background-color: #61bead;
  padding: 0.4em 5em;
  border-radius: 0.7em;
}
.layoutSolicitud a:hover {
  font-size: 105%;
}

.layoutContacta {
  width: 100%;
  height: 5em;
  background-color: #20353a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.layoutContacta a {
  color: #ffffff;
  text-decoration: none;
  background-color: #61bead;
  padding: 0.4em 5em;
  border-radius: 0.7em;
}
.layoutContacta a:hover {
  font-size: 105%;
}
@media (max-width: 1050px) {
  .layoutContacta a {
    padding: 0.4em 4.3em;
  }
}

.servicios .tituloServicios {
  text-align: center;
  color: rgba(32, 53, 58, 0.5019607843);
  padding: 1.2em;
}
.servicios .tituloServicios h2 {
  font-size: 2.2em;
}
.servicios .tituloServicios h5 {
  font-size: 1.4em;
}
.servicios .sectionCards {
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 2em;
  padding: 1em 0 5em 0;
}
@media (max-width: 420px) {
  .servicios .sectionCards {
    width: 100%;
    padding: 0.1em;
  }
}
.servicios .sectionCards .cardServicios {
  padding-bottom: 5em;
}
@media (max-width: 1370px) {
  .servicios .sectionCards .cardServicios {
    width: 25%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1210px) {
  .servicios .sectionCards .cardServicios {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 630px) {
  .servicios .sectionCards .cardServicios {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.servicios .sectionCards .cardServicios .section {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  border-radius: 0.8em;
  width: 250px;
  height: 350px;
  margin: 10px;
}
.servicios .sectionCards .cardServicios .section img {
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
.servicios .sectionCards .cardServicios .section .cardInformation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.8em;
  position: absolute;
  background-color: #ffffff;
  width: 210px;
  height: 250px;
  margin-top: 10em;
  border-radius: 1em;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(146, 146, 146, 0.67);
  box-shadow: 0px 0px 15px 2px rgba(117, 117, 117, 0.67);
}
.servicios .sectionCards .cardServicios .section .cardInformation p {
  font-size: 0.8em;
  text-align: justify;
}
.servicios .sectionCards .cardServicios .section .cardInformation a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  color: #2c4a99;
}
.servicios .sectionCards .cardServicios .section .cardInformation .enlaceVerMas {
  color: #61bead;
}

.containerCarousel {
  width: 100%;
}
@media (min-width: 1281px) and (max-width: 2600px) {
  .containerCarousel .carousel1 {
    display: block;
  }
  .containerCarousel .carousel1 .banner .imgBanner {
    width: 100%;
    height: max-content;
    align-items: center;
  }
  .containerCarousel .carousel2 {
    display: none;
  }
  .containerCarousel .carousel3 {
    display: none;
  }
}
@media (min-width: 601px) and (max-width: 1280px) {
  .containerCarousel .carousel1 {
    display: none;
  }
  .containerCarousel .carousel2 {
    display: block;
  }
  .containerCarousel .carousel2 .banner .imgBanner {
    width: 100%;
    height: max-content;
    align-items: center;
  }
  .containerCarousel .carousel3 {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .containerCarousel .carousel1 {
    display: none;
  }
  .containerCarousel .carousel2 {
    display: none;
  }
  .containerCarousel .carousel3 {
    display: block;
  }
  .containerCarousel .carousel3 .banner .imgBanner {
    width: 100%;
    height: max-content;
    align-items: center;
  }
}

.contenedorServiciosL .BannerPages1,
.contenedorServiciosL .BannerPages2,
.contenedorServiciosL .BannerPages3 {
  margin-top: 0 !important;
  height: 38em;
  overflow: hidden;
}
.contenedorServiciosL .BannerPages1 img,
.contenedorServiciosL .BannerPages2 img,
.contenedorServiciosL .BannerPages3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media (min-width: 1281px) and (max-width: 2600px) {
  .contenedorServiciosL .BannerPages1 {
    display: block;
  }
  .contenedorServiciosL .BannerPages2 {
    display: none;
  }
  .contenedorServiciosL .BannerPages3 {
    display: none;
  }
}
@media (min-width: 601px) and (max-width: 1280px) {
  .contenedorServiciosL .BannerPages1 {
    display: none;
  }
  .contenedorServiciosL .BannerPages2 {
    display: block;
  }
  .contenedorServiciosL .BannerPages3 {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .contenedorServiciosL .BannerPages1 {
    display: none;
  }
  .contenedorServiciosL .BannerPages2 {
    display: none;
  }
  .contenedorServiciosL .BannerPages3 {
    display: block;
  }
}
.contenedorServiciosL .sectionCards {
  width: 80%;
  margin: auto;
}
@media (min-width: 1100px) and (max-width: 2600px) {
  .contenedorServiciosL .sectionCards .cards {
    margin: 1em 0;
  }
  .contenedorServiciosL .sectionCards .cards .containerImage {
    width: 30% !important;
    height: 20em;
  }
}
@media (min-width: 801px) and (max-width: 1099px) {
  .contenedorServiciosL .sectionCards {
    width: 100%;
  }
  .contenedorServiciosL .sectionCards .cards {
    justify-content: center;
    align-items: center;
  }
  .contenedorServiciosL .sectionCards .cards .containerImage {
    width: 50% !important;
    height: 20em;
  }
  .contenedorServiciosL .sectionCards .cards .serviciosText {
    width: 100% !important;
    padding: 1.5em;
  }
}
@media (min-width: 320px) and (max-width: 800px) {
  .contenedorServiciosL .sectionCards {
    width: 100%;
  }
  .contenedorServiciosL .sectionCards .cards {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
  }
  .contenedorServiciosL .sectionCards .cards .serviciosText {
    width: 100% !important;
  }
  .contenedorServiciosL .sectionCards .cards .serviciosText .containerText2 h2 {
    width: 100% !important;
    font-size: 1.1em !important;
  }
  .contenedorServiciosL .sectionCards .cards .serviciosText .containerText2 p {
    font-size: 1.1em !important;
  }
  .contenedorServiciosL .sectionCards .cards .serviciosText .containerText2 li {
    font-size: 1.1em !important;
  }
}
.contenedorServiciosL .sectionCards .cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedorServiciosL .sectionCards .cards .containerImage {
  border-radius: 50%;
  overflow: hidden;
  width: 50%;
}
.contenedorServiciosL .sectionCards .cards .containerImage .imagenMiniatura {
  width: 100%;
  height: auto;
  object-position: center center;
  height: 100%;
  object-fit: cover;
}
.contenedorServiciosL .sectionCards .cards .serviciosText {
  width: 50%;
  display: flex;
  align-items: center;
}
.contenedorServiciosL .sectionCards .cards .serviciosText .containerText2 h2 {
  font-size: 1.4em;
  color: #61bead;
  text-align: center;
  width: 80%;
  padding: 1em 0 1em 0;
}
.contenedorServiciosL .sectionCards .cards .serviciosText .containerText2 p {
  color: rgba(32, 53, 58, 0.5019607843);
  font-size: 1.2em;
  padding: 1em 1em;
}
.contenedorServiciosL .sectionCards .cards .serviciosText .containerText2 li {
  list-style-position: inside;
  color: rgba(32, 53, 58, 0.5019607843);
  font-size: 1.2em;
  padding: 0 1em;
}
.contenedorServiciosL .sectionCards .cards:nth-child(even) {
  flex-direction: row-reverse;
}

.containerBeneficios {
  width: 100%;
}
@media (min-width: 1281px) and (max-width: 2600px) {
  .containerBeneficios .banner1 {
    display: block;
  }
  .containerBeneficios .banner1 .imgBanner {
    width: 100%;
  }
  .containerBeneficios .banner2 {
    display: none;
  }
  .containerBeneficios .banner3 {
    display: none;
  }
}
@media (min-width: 601px) and (max-width: 1280px) {
  .containerBeneficios .banner1 {
    display: none;
  }
  .containerBeneficios .banner2 {
    display: block;
  }
  .containerBeneficios .banner2 .imgBanner {
    width: 100%;
  }
  .containerBeneficios .banner3 {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .containerBeneficios .banner1 {
    display: none;
  }
  .containerBeneficios .banner2 {
    display: none;
  }
  .containerBeneficios .banner3 {
    display: block;
  }
  .containerBeneficios .banner3 .imgBanner {
    width: 100%;
  }
}

.contBeneficios .firstText {
  text-align: center;
  color: #61bead;
  font-size: 1.8em;
  padding: 1em 0 0.5em 0;
}
@media (min-width: 320px) and (max-width: 600px) {
  .contBeneficios .firstText {
    font-size: 1.2em;
  }
}
.contBeneficios .listBeneficios {
  margin: auto;
  width: 80%;
}
.contBeneficios .listBeneficios li {
  color: rgba(32, 53, 58, 0.5019607843);
  font-size: 1.2em;
}
@media (min-width: 320px) and (max-width: 600px) {
  .contBeneficios .listBeneficios li {
    font-size: 0.9em;
  }
}
.contBeneficios .contCards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2em 0 2em 0;
}
@media (min-width: 320px) and (max-width: 830px) {
  .contBeneficios .contCards {
    width: 80%;
    margin: auto;
  }
}
.contBeneficios .contCards .cardsBeneficios {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13em;
  height: 18em;
  margin: 1em 0;
}
@media (min-width: 320px) and (max-width: 600px) {
  .contBeneficios .contCards .cardsBeneficios {
    width: 10em;
    height: 15em;
  }
  .contBeneficios .contCards .cardsBeneficios .textImage span {
    color: #61bead;
    font-size: 0.7em;
    font-weight: 300;
  }
}
.contBeneficios .contCards .cardsBeneficios .contImage {
  width: 90%;
}
.contBeneficios .contCards .cardsBeneficios .contImage img {
  width: 100%;
  transition: transform 0.3s;
}
.contBeneficios .contCards .cardsBeneficios .contImage img:hover {
  transform: scale(1.1);
}
.contBeneficios .contCards .cardsBeneficios .textImage span {
  color: #61bead;
  font-size: 1.3em;
  font-weight: 900;
  padding: 0.8em 0;
}

.footer {
  background-color: #20353a;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: max-content;
  font-weight: 600;
  line-height: 2em;
}
.footer div {
  width: 25%;
  padding: 5em 3em;
}
@media (max-width: 1000px) {
  .footer div {
    width: 50%;
    padding: 1em 3em 1em 3em;
  }
}
@media (max-width: 600px) {
  .footer div {
    width: 100%;
    margin: auto;
  }
}
.footer div h3 {
  color: #ffffff;
}
.footer div li {
  list-style-type: none;
}
.footer div li div {
  padding: 0;
  width: 100%;
}
.footer div li div a {
  cursor: pointer;
}
.footer div li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9em;
}
.footer div li a:hover {
  border-bottom: 1px solid #ffffff;
}
.footer .direccionesFooter {
  width: 100%;
  height: fit-content;
  padding: 0;
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
}
@media (max-width: 705px) {
  .footer .direccionesFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer .direccionesFooter a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: flex;
  align-items: center;
  margin-left: 1em;
}
.footer .direccionesFooter a svg {
  font-size: 1.2em;
}

.contCertificaciones .BannerPages1,
.contCertificaciones .BannerPages2,
.contCertificaciones .BannerPages3 {
  margin-top: 0 !important;
  height: 38em;
  overflow: hidden;
}
.contCertificaciones .BannerPages1 img,
.contCertificaciones .BannerPages2 img,
.contCertificaciones .BannerPages3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media (min-width: 1281px) and (max-width: 2600px) {
  .contCertificaciones .BannerPages1 {
    display: block;
  }
  .contCertificaciones .BannerPages2 {
    display: none;
  }
  .contCertificaciones .BannerPages3 {
    display: none;
  }
}
@media (min-width: 601px) and (max-width: 1280px) {
  .contCertificaciones .BannerPages1 {
    display: none;
  }
  .contCertificaciones .BannerPages2 {
    display: block;
  }
  .contCertificaciones .BannerPages3 {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .contCertificaciones .BannerPages1 {
    display: none;
  }
  .contCertificaciones .BannerPages2 {
    display: none;
  }
  .contCertificaciones .BannerPages3 {
    display: block;
  }
}
.contCertificaciones .containerTextos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.3em;
}
.contCertificaciones .containerTextos .texto2 {
  color: #61bead;
  font-size: 1.8em;
}
.contCertificaciones .containerTextos .texto3 {
  color: rgba(32, 53, 58, 0.3764705882);
  font-size: 1.3em;
  font-weight: 400;
  text-align: center;
  width: 80%;
  padding: 0.8em;
}
.contCertificaciones .containerTextos .texto4 {
  color: rgba(44, 74, 153, 0.5019607843);
  font-size: 1em;
}
.contCertificaciones .tituloSeccion {
  color: #61bead;
  font-size: 1.8em;
  text-align: center;
  padding: 1em;
}
.contCertificaciones .cardCertificaciones {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  justify-content: center;
}
@media (max-width: 1250px) {
  .contCertificaciones .cardCertificaciones {
    width: 70%;
    margin: auto;
  }
}
@media (max-width: 850px) {
  .contCertificaciones .cardCertificaciones {
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 464px) {
  .contCertificaciones .cardCertificaciones {
    width: 100%;
    margin: auto;
  }
}
.contCertificaciones .cardCertificaciones .containerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
}
@media (max-width: 464px) {
  .contCertificaciones .cardCertificaciones .containerCard {
    width: 10em;
  }
}
.contCertificaciones .cardCertificaciones .containerCard .containerImg {
  padding: 1em;
  width: 150px;
}
.contCertificaciones .cardCertificaciones .containerCard .containerImg img {
  width: 100%;
}
.contCertificaciones .cardCertificaciones .containerCard p {
  text-align: center;
  font-size: 1em;
  color: #2c4a99;
}
.contCertificaciones .containerBotones div {
  background-color: rgba(32, 53, 58, 0.2509803922);
}

.contenedorNavBar {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100px;
  background: white;
}
.contenedorNavBar .direcciones {
  float: right;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 1050px) {
  .contenedorNavBar .direcciones div:nth-child(1) {
    display: none;
  }
}
.contenedorNavBar .logosRedes {
  margin-right: 1em;
}
.contenedorNavBar .logosRedes a {
  margin-right: 0.5em;
}
.contenedorNavBar a {
  text-decoration: none;
  cursor: pointer;
  margin-left: 1em;
  font-size: 1em;
  font-weight: 500;
  color: rgba(44, 74, 153, 0.5019607843);
}
.contenedorNavBar a svg {
  font-size: 1.1em;
}
.contenedorNavBar img {
  width: 1.4em;
  margin: 0.5em 0 0 0;
}

.logoPrincipal {
  display: flex;
  align-items: baseline;
  margin: 0.7em;
  margin-left: 2.5em;
}
.logoPrincipal :hover {
  cursor: pointer;
}
.logoPrincipal img {
  width: 8.125em;
  height: auto;
}
.logoPrincipal .menuBarraNav {
  display: flex;
  padding-bottom: 8em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
@media (max-width: 1050px) {
  .logoPrincipal .menuBarraNav {
    display: none;
  }
}
.logoPrincipal .menuBarraNav .material {
  margin: 0 0.6em;
}
.logoPrincipal .menuBarraNav .material p {
  text-decoration: none;
  color: #2c4a99;
  font-weight: 700;
  padding: 0.3em 0.5em;
}
.logoPrincipal .menuBarraNav .material p:hover {
  color: #61bead;
}
.logoPrincipal .menuBarraNav .material a {
  margin: 0 2em;
  width: 100% !important;
  text-decoration: none;
  color: #2c4a99;
  font-weight: 700;
}
.logoPrincipal .menuBarraNav .material a:hover {
  color: #61bead;
}
.logoPrincipal .menuBarraNav .material .hidden p {
  text-decoration: none;
  color: #2c4a99;
  font-weight: 700;
  padding: 0.3em 0.5em;
}
.logoPrincipal .menuBarraNav .material .hidden p:hover {
  color: #61bead;
}
.logoPrincipal .menuBarraNav .material .hidden .enlace {
  color: white;
  margin: 0 2em;
  text-decoration: none;
  color: #2c4a99;
  font-weight: 700;
}
.logoPrincipal .menuBarraNav .material .hidden .enlace:hover {
  color: #61bead;
}

#droppin-wrapper {
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  margin-top: 0.5em;
}
#droppin-wrapper.material a {
  background: white;
}
#droppin-wrapper.material #droppin ul:hover {
  background: rgba(97, 190, 173, 0.5019607843);
}
#droppin-wrapper a.selector {
  display: flex;
  box-sizing: border-box;
  line-height: 2;
  width: 100%;
  padding: 0 10px 0;
  margin: 0 auto;
}
#droppin-wrapper:focus .hidden #droppin, #droppin-wrapper:hover .hidden #droppin {
  height: 100%;
  opacity: 1;
  top: 0;
}
#droppin-wrapper .hidden {
  overflow: hidden;
  position: absolute;
  display: block;
  height: auto;
  margin: 7px 0;
  padding: 3px 3px;
  top: 1.75em;
  background-color: white;
}
#droppin-wrapper #droppin {
  display: block;
  position: relative;
  padding: 0;
  height: 0;
  opacity: 0;
}
#droppin-wrapper #droppin a {
  margin: 0 auto;
  text-decoration: none;
  background: transparent;
}
#droppin-wrapper #droppin:focus#droppin, #droppin-wrapper #droppin:hover#droppin {
  width: 180px;
  height: 100%;
  opacity: 1;
  top: 0;
}
#droppin-wrapper #droppin li {
  padding: 5px 0 5px 0;
  width: 220px;
  list-style-type: none;
  box-sizing: border-box;
  text-align: left;
  min-height: 40px;
  cursor: pointer;
}
#droppin-wrapper #droppin li a {
  color: #61bead;
  width: 100%;
  margin: 0;
}
#droppin-wrapper #droppin li:hover {
  background: rgba(97, 190, 173, 0.1254901961);
  border-bottom: 2px solid #2c4a99;
}
#droppin-wrapper #droppin li:hover a {
  width: 100%;
}
#droppin-wrapper #droppin li:hover:after {
  width: 100%;
}
#droppin-wrapper #droppin li:after {
  opacity: 0.5;
  position: relative;
  display: block;
  width: 100%;
  padding: 5px 0;
  top: 30%;
  transition: 0.55s all ease;
}

/*# sourceMappingURL=index.css.map */
