/* Colores Pagina */
/* FUENTE PRINCIPAL */
/* Estilos Mixin */
.contenedorNavBar {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100px;
  background: white;
}
.contenedorNavBar .direcciones {
  float: right;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 1050px) {
  .contenedorNavBar .direcciones div:nth-child(1) {
    display: none;
  }
}
.contenedorNavBar .logosRedes {
  margin-right: 1em;
}
.contenedorNavBar .logosRedes a {
  margin-right: 0.5em;
}
.contenedorNavBar a {
  text-decoration: none;
  cursor: pointer;
  margin-left: 1em;
  font-size: 1em;
  font-weight: 500;
  color: rgba(44, 74, 153, 0.5019607843);
}
.contenedorNavBar a svg {
  font-size: 1.1em;
}
.contenedorNavBar img {
  width: 1.4em;
  margin: 0.5em 0 0 0;
}

.logoPrincipal {
  display: flex;
  align-items: baseline;
  margin: 0.7em;
  margin-left: 2.5em;
}
.logoPrincipal :hover {
  cursor: pointer;
}
.logoPrincipal img {
  width: 8.125em;
  height: auto;
}
.logoPrincipal .menuBarraNav {
  display: flex;
  padding-bottom: 8em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
@media (max-width: 1050px) {
  .logoPrincipal .menuBarraNav {
    display: none;
  }
}
.logoPrincipal .menuBarraNav .material {
  margin: 0 0.6em;
}
.logoPrincipal .menuBarraNav .material p {
  text-decoration: none;
  color: #2c4a99;
  font-weight: 700;
  padding: 0.3em 0.5em;
}
.logoPrincipal .menuBarraNav .material p:hover {
  color: #61bead;
}
.logoPrincipal .menuBarraNav .material a {
  margin: 0 2em;
  width: 100% !important;
  text-decoration: none;
  color: #2c4a99;
  font-weight: 700;
}
.logoPrincipal .menuBarraNav .material a:hover {
  color: #61bead;
}
.logoPrincipal .menuBarraNav .material .hidden p {
  text-decoration: none;
  color: #2c4a99;
  font-weight: 700;
  padding: 0.3em 0.5em;
}
.logoPrincipal .menuBarraNav .material .hidden p:hover {
  color: #61bead;
}
.logoPrincipal .menuBarraNav .material .hidden .enlace {
  color: white;
  margin: 0 2em;
  text-decoration: none;
  color: #2c4a99;
  font-weight: 700;
}
.logoPrincipal .menuBarraNav .material .hidden .enlace:hover {
  color: #61bead;
}

#droppin-wrapper {
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  margin-top: 0.5em;
}
#droppin-wrapper.material a {
  background: white;
}
#droppin-wrapper.material #droppin ul:hover {
  background: rgba(97, 190, 173, 0.5019607843);
}
#droppin-wrapper a.selector {
  display: flex;
  box-sizing: border-box;
  line-height: 2;
  width: 100%;
  padding: 0 10px 0;
  margin: 0 auto;
}
#droppin-wrapper:focus .hidden #droppin, #droppin-wrapper:hover .hidden #droppin {
  height: 100%;
  opacity: 1;
  top: 0;
}
#droppin-wrapper .hidden {
  overflow: hidden;
  position: absolute;
  display: block;
  height: auto;
  margin: 7px 0;
  padding: 3px 3px;
  top: 1.75em;
  background-color: white;
}
#droppin-wrapper #droppin {
  display: block;
  position: relative;
  padding: 0;
  height: 0;
  opacity: 0;
}
#droppin-wrapper #droppin a {
  margin: 0 auto;
  text-decoration: none;
  background: transparent;
}
#droppin-wrapper #droppin:focus#droppin, #droppin-wrapper #droppin:hover#droppin {
  width: 180px;
  height: 100%;
  opacity: 1;
  top: 0;
}
#droppin-wrapper #droppin li {
  padding: 5px 0 5px 0;
  width: 220px;
  list-style-type: none;
  box-sizing: border-box;
  text-align: left;
  min-height: 40px;
  cursor: pointer;
}
#droppin-wrapper #droppin li a {
  color: #61bead;
  width: 100%;
  margin: 0;
}
#droppin-wrapper #droppin li:hover {
  background: rgba(97, 190, 173, 0.1254901961);
  border-bottom: 2px solid #2c4a99;
}
#droppin-wrapper #droppin li:hover a {
  width: 100%;
}
#droppin-wrapper #droppin li:hover:after {
  width: 100%;
}
#droppin-wrapper #droppin li:after {
  opacity: 0.5;
  position: relative;
  display: block;
  width: 100%;
  padding: 5px 0;
  top: 30%;
  transition: 0.55s all ease;
}

/*# sourceMappingURL=index.css.map */
